@import './vars.scss';
@import './fonts.scss';

html {
  font-family: 'Source Serif Pro', sans-serif;
  // font-family: 'Balsamiq Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  scroll-behavior: smooth;
  background: $lightGrey;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;

  &.dark {
    background: #000;
    padding: 15px 0;
  }

  &.light {
    padding: 15px 0;
  }
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1285px;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0 auto;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  column-gap: 30px;
  flex: 1 1 auto;
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }
}

img {
  max-width: 100%;
}
