$white: white;
$black: black;
$grey: #919cb8;
$lightGrey: #f4f4f4;
$fobos: #0383fa;
$fobosLight: #3b9efa;
$blueBtn: #2b74b9;
$green: #55dd6d;
$orange: #f57c1f;
$titleh1: 30px;
$titleh2: 20px;
$bold: 700;
$regular: 400;
$radius: 10px;
$midRadius: 8px;
$minRadius: 4px;

//Dark mode
$darkBlack: #000;
$lightBlack: #191c24;
$darkText:#6c7293;
